.vkmd_audio_stats {
  display: flex;
  align-items: center;
  float: right;
  margin-left: 4px;
  width: 24px;
  height: 24px;
  color: #c4d1de;
  font-size: 8px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: visible;
}

.vkmd_download_btn {
  position: relative;
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 1px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 7px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #577ca1;
}

.vkmd_download_btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #577ca1 url(/images/icons/audio_playpause_2x.png) no-repeat 8px 7px;
  background-size: 9px 32px;
  transform: rotate(90deg);
}

.vkmd_download_btn.vkmd_download_in_progress:before {
  display: none;
}

.audio_inline_player .audio_inline_player_left {
  padding: 0 0 0 30px !important;
}

.audio_inline_player .audio_inline_player_right {
  width: 60px !important;
  margin-left: 5px !important;
}

.audio_inline_player {
  margin-top: -5px !important;
}

.audio_hq_label_show .audio_row.hq .audio_hq_label, .audio_search_rows .audio_row.hq .audio_hq_label {
  margin-right: 1px !important;
}